* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
}
.list {
    margin-top: 2rem;
}
input {
    margin: 1rem 0rem;
    padding: 0.5rem 0rem;
    width: 100%;
    color: grey;
}
